*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,00,.2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width:100%;
    height: 40px;
    margin: 30px 0;
}
.input-box input{
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    font-size: 15px;
    color: aliceblue;
    padding: 0px 20px 0px;
}
.input-box input::placeholder{
    color: aliceblue;
}
.wrapper .remember-me{
    display: flex;
    justify-content: space-between;
    margin:-15px 0 15px;
}
.remember-me label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-me a{
    text-decoration: none;
    color: white;
}
.remember-me a:hover{
    text-decoration: underline;
    color: skyblue;
}
.wrapper .btn{
    width: 80%;
    height: 40px;
    border-radius: 40px;
    margin-left: 40px;
    size: 30px;
    outline: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
}
.wrapper button:hover{
    background-color: darkgrey;
}
.wrapper .register{
    text-align: center;
}
.register p a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
    color: skyblue;
}