<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class ="wrapper">
        <form action="/forgot" method="post">
            <div class="register">
                <p>to continue <a href="/login">click here</a></p>
            </div>
        </form>
    </div>
    
</body>
</html>